<!--Store .Param page parameters as variables-->
{{ $target := .Param "cover" }}
{{ $fallback := .Param "fallback-cover" }}

<!--If either parameter is set, store them as Scratch parameters and insert the appropriate image: -->
{{ if or $target $fallback }}
  <div id="article-cover">
    {{ if not .IsSection }}										<!--Apply a class named after the current section.-->
      <div class="{{ singularize .Section }}-cover">			<!--Singularize if a single page and not a section.-->
    {{ else }}													<!--NOTE: Only works for sections or pages under sections.-->
      <div class="{{ .Section }}-cover">
    {{ end }}
      {{ .Scratch.Set "targetImage" $target }}
      {{ .Scratch.Set "fallbackImage" $fallback }}
      {{ partial "partials/insert-image.html" . }}
    </div>
  </div>
{{ end }}
